<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Data and Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
</head>
<body>
    <div class="container">
        <h1>CSV Data</h1>
        {{ tables|safe }}

        <h2>Predict Sleep Score</h2>
        <form action="/predict" method="post">
            {% for col in titles %}
                {% if col != 'Total Sleep Score' and col != 'date' %}
                    <label for="{{ col }}">{{ col }}:</label>
                    <input type="text" id="{{ col }}" name="{{ col }}">
                {% endif %}
            {% endfor %}
            <input type="submit" value="Predict">
        </form>
    </div>
</body>
</html>